canvas {
  border: 1px solid black;
  align-self: center;
  margin-left: 50px;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 60%;
}

.item {
  padding: 30px;
  width: 250px;
}

h1 {
  text-align: center;
  margin-top: 20px;
}
